<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <title>給料計算</title>
</head>
<body>
  <div>
    <h1>給与計算アプリ</h1>
  </div>
  <div>
    <p>給与</p>
    <form action="calc_salary" method="post">
      <input type="number" name="salary">
      <button type="submit" class="btn btn-primary">計算する</button>
    </form>
  </div>
</body>
</html>