{%extends "layout.html"%}
{%block body%}
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>祝日</th>
        <th>テキスト</th>
      </tr>
    </thead>
    <tbody>
      {%for holiday in holiday_list %}
      <tr>
        <td>{{holiday.holi_date}}</td>
        <td>{{holiday.holi_text}}</td>
      </tr>
      {%else%}
      <p>投稿がありません！！！</p>
      {% endfor %}
    </tbody>
  </table>
  <form action="/" >
    <button type="submit" class="btn btn-primary">戻る</button>
  </form>
</div>
{%endblock%}