{% extends "layout.html" %}
{% block body %}

<h2>{{ entry.title }}</h2>

</br>
<h4>筆者</h4>
{{ writer.username }}

</br></br>
<h4>本文</h4>
{{ entry.text }}

</br></br>
<h4>投稿日時</h4>
{{ entry.created_at }}

{% if entry.last_edited_at != None %}
</br></br>
<h4>最終編集日</h4> {{ entry.last_edited_at }}
{% endif %}

{% if entry.user_id == user_id %}
</br></br>
<div class="btn-group">
    <form action="{{ url_for('edit_entry', id=entry.id) }}" method=GET>
        <button type="submit" class="btn btn-secondary">編集</button>
    </form>
    <form action="{{ url_for('delete_entry', id=entry.id) }}" method="POST">
        <button type="submit" class="btn btn-danger" style="margin-left:5px">削除</button>
    </form>
</div>
{% endif %}

</br></br>
<form action="{{ url_for( session['before_page']) }}" method=post>
    <button type="submit" class="btn btn-primary">戻る</button>
</form>

{% endblock %}
