{% extends "layout.html" %}
{% block body %}
<div class ="list"> 
    <table class="table">
        <tread >
            <tr class="table-primary">
                <th scope="col">祝日</th>
                <th scope="col">テキスト</th>
            </tr>
        </tread>
        <tbody>
{% for holiday in holidaies %}
            <tr>
                <td>{{ holiday.holi_date }}</td>
                <td>{{ holiday.holi_text }}</td>
            </tr>
{% else %}
    祝日データがありません。
{% endfor %}
        </tbody>
    </table> 
</div>

<form action="{{ url_for('m_input') }}" >
    <button type="submit" class="btn btn-primary">戻る</button>
</form>
{% endblock %}